body{
	font-family:Helvetica;
	margin:0;
	padding:0;
	overflow:auto;
}
html{
	height:100%;
}
a{
	text-decoration:none;
	outline: 0;
	color:#000;
}
a:active{
	color:#000;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #000000 1%,#ffffff 100%);
}
label{
	cursor:pointer;
}
/*.row{


}*/


.accordion{

}

.accordion-closed{
	height:0px;
	overflow:hidden;
}


/*.accordion-open{
	overflow:visible;
}*/



.parent-url{
	margin:0;
	color:gray;
	font-size:11px;
}

.url-post-data, .result-post-data{
	margin:0;
	color:#5A5A60;
	font-size:12px;
}

.mainAccordion{
	margin:0px 0px 0px 20px;
	border-left:1px dotted #047288;
	padding-left:6px;
}

.result-accordion-hdr{
	margin:3px 3px 3px -3px;
	font-weight:bold;
	cursor:pointer;
}


.result-accordion-hdr.hdr-accordion-open:before{
	line-height:24px;
	color:gray;
	font-size:10px;
	content: "▼ ";
}

.result-accordion-hdr.hdr-accordion-closed:before{
	line-height:24px;
	color:gray;
	font-size:10px;
	content: "► ";
}

/* must have margin and padding = 0 to be collapsed on scroll */
#collapse_top{
	position:relative;
	overflow: hidden;
	padding:0px;
	margin:0px;
}

#top_header{
	margin:10px 0 0 10px;
}

#title{
	margin:0 0 10px 0;
	padding:0;
	font-weight:bold;
}

#top{
	position:fixed;
	background-color:#fff;
	z-index:777;
	top:0;
	left:0;
	margin:0;
	min-width:900px;
	width:100%;
}
#top hr{
	max-width:1200px;
	margin:0;
}

#filtersbox{
	margin:10px 0 0 10px;
}

.hidden{ display: none !important}

.icon {
	display: inline-block;

	background-color:#047288;
	padding:4px;
	padding-top:2px;
	padding-bottom:2px;
	border-radius:2px;
	color:#fff;
	margin-right:4px;
	margin-left:1px;
	cursor:default;
	font-size:10px;
}

section{
	margin:0px 0px 10px 10px;
	padding:0;
	white-space: nowrap;
}

section.marked{
	border-left:4px solid #00F500;
	margin-left:6px;
}

section.marked .mark-button:before{
	content:"un";
}

.icon.icon-filtered{
	opacity:0.5;
}
.open-new-win{
	display:inline-block;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAKQWlDQ1BJQ0MgUHJvZmlsZQAASA2dlndUU9kWh8+9N73QEiIgJfQaegkg0jtIFQRRiUmAUAKGhCZ2RAVGFBEpVmRUwAFHhyJjRRQLg4Ji1wnyEFDGwVFEReXdjGsJ7601896a/cdZ39nnt9fZZ+9917oAUPyCBMJ0WAGANKFYFO7rwVwSE8vE9wIYEAEOWAHA4WZmBEf4RALU/L09mZmoSMaz9u4ugGS72yy/UCZz1v9/kSI3QyQGAApF1TY8fiYX5QKUU7PFGTL/BMr0lSkyhjEyFqEJoqwi48SvbPan5iu7yZiXJuShGlnOGbw0noy7UN6aJeGjjAShXJgl4GejfAdlvVRJmgDl9yjT0/icTAAwFJlfzOcmoWyJMkUUGe6J8gIACJTEObxyDov5OWieAHimZ+SKBIlJYqYR15hp5ejIZvrxs1P5YjErlMNN4Yh4TM/0tAyOMBeAr2+WRQElWW2ZaJHtrRzt7VnW5mj5v9nfHn5T/T3IevtV8Sbsz55BjJ5Z32zsrC+9FgD2JFqbHbO+lVUAtG0GQOXhrE/vIADyBQC03pzzHoZsXpLE4gwnC4vs7GxzAZ9rLivoN/ufgm/Kv4Y595nL7vtWO6YXP4EjSRUzZUXlpqemS0TMzAwOl89k/fcQ/+PAOWnNycMsnJ/AF/GF6FVR6JQJhIlou4U8gViQLmQKhH/V4X8YNicHGX6daxRodV8AfYU5ULhJB8hvPQBDIwMkbj96An3rWxAxCsi+vGitka9zjzJ6/uf6Hwtcim7hTEEiU+b2DI9kciWiLBmj34RswQISkAd0oAo0gS4wAixgDRyAM3AD3iAAhIBIEAOWAy5IAmlABLJBPtgACkEx2AF2g2pwANSBetAEToI2cAZcBFfADXALDIBHQAqGwUswAd6BaQiC8BAVokGqkBakD5lC1hAbWgh5Q0FQOBQDxUOJkBCSQPnQJqgYKoOqoUNQPfQjdBq6CF2D+qAH0CA0Bv0BfYQRmALTYQ3YALaA2bA7HAhHwsvgRHgVnAcXwNvhSrgWPg63whfhG/AALIVfwpMIQMgIA9FGWAgb8URCkFgkAREha5EipAKpRZqQDqQbuY1IkXHkAwaHoWGYGBbGGeOHWYzhYlZh1mJKMNWYY5hWTBfmNmYQM4H5gqVi1bGmWCesP3YJNhGbjS3EVmCPYFuwl7ED2GHsOxwOx8AZ4hxwfrgYXDJuNa4Etw/XjLuA68MN4SbxeLwq3hTvgg/Bc/BifCG+Cn8cfx7fjx/GvyeQCVoEa4IPIZYgJGwkVBAaCOcI/YQRwjRRgahPdCKGEHnEXGIpsY7YQbxJHCZOkxRJhiQXUiQpmbSBVElqIl0mPSa9IZPJOmRHchhZQF5PriSfIF8lD5I/UJQoJhRPShxFQtlOOUq5QHlAeUOlUg2obtRYqpi6nVpPvUR9Sn0vR5Mzl/OX48mtk6uRa5Xrl3slT5TXl3eXXy6fJ18hf0r+pvy4AlHBQMFTgaOwVqFG4bTCPYVJRZqilWKIYppiiWKD4jXFUSW8koGStxJPqUDpsNIlpSEaQtOledK4tE20Otpl2jAdRzek+9OT6cX0H+i99AllJWVb5SjlHOUa5bPKUgbCMGD4M1IZpYyTjLuMj/M05rnP48/bNq9pXv+8KZX5Km4qfJUilWaVAZWPqkxVb9UU1Z2qbapP1DBqJmphatlq+9Uuq43Pp893ns+dXzT/5PyH6rC6iXq4+mr1w+o96pMamhq+GhkaVRqXNMY1GZpumsma5ZrnNMe0aFoLtQRa5VrntV4wlZnuzFRmJbOLOaGtru2nLdE+pN2rPa1jqLNYZ6NOs84TXZIuWzdBt1y3U3dCT0svWC9fr1HvoT5Rn62fpL9Hv1t/ysDQINpgi0GbwaihiqG/YZ5ho+FjI6qRq9Eqo1qjO8Y4Y7ZxivE+41smsImdSZJJjclNU9jU3lRgus+0zwxr5mgmNKs1u8eisNxZWaxG1qA5wzzIfKN5m/krCz2LWIudFt0WXyztLFMt6ywfWSlZBVhttOqw+sPaxJprXWN9x4Zq42Ozzqbd5rWtqS3fdr/tfTuaXbDdFrtOu8/2DvYi+yb7MQc9h3iHvQ732HR2KLuEfdUR6+jhuM7xjOMHJ3snsdNJp9+dWc4pzg3OowsMF/AX1C0YctFx4bgccpEuZC6MX3hwodRV25XjWuv6zE3Xjed2xG3E3dg92f24+ysPSw+RR4vHlKeT5xrPC16Il69XkVevt5L3Yu9q76c+Oj6JPo0+E752vqt9L/hh/QL9dvrd89fw5/rX+08EOASsCegKpARGBFYHPgsyCRIFdQTDwQHBu4IfL9JfJFzUFgJC/EN2hTwJNQxdFfpzGC4sNKwm7Hm4VXh+eHcELWJFREPEu0iPyNLIR4uNFksWd0bJR8VF1UdNRXtFl0VLl1gsWbPkRoxajCCmPRYfGxV7JHZyqffS3UuH4+ziCuPuLjNclrPs2nK15anLz66QX8FZcSoeGx8d3xD/iRPCqeVMrvRfuXflBNeTu4f7kufGK+eN8V34ZfyRBJeEsoTRRJfEXYljSa5JFUnjAk9BteB1sl/ygeSplJCUoykzqdGpzWmEtPi000IlYYqwK10zPSe9L8M0ozBDuspp1e5VE6JA0ZFMKHNZZruYjv5M9UiMJJslg1kLs2qy3mdHZZ/KUcwR5vTkmuRuyx3J88n7fjVmNXd1Z752/ob8wTXuaw6thdauXNu5Tnddwbrh9b7rj20gbUjZ8MtGy41lG99uit7UUaBRsL5gaLPv5sZCuUJR4b0tzlsObMVsFWzt3WazrWrblyJe0fViy+KK4k8l3JLr31l9V/ndzPaE7b2l9qX7d+B2CHfc3em681iZYlle2dCu4F2t5czyovK3u1fsvlZhW3FgD2mPZI+0MqiyvUqvakfVp+qk6oEaj5rmvep7t+2d2sfb17/fbX/TAY0DxQc+HhQcvH/I91BrrUFtxWHc4azDz+ui6rq/Z39ff0TtSPGRz0eFR6XHwo911TvU1zeoN5Q2wo2SxrHjccdv/eD1Q3sTq+lQM6O5+AQ4ITnx4sf4H++eDDzZeYp9qukn/Z/2ttBailqh1tzWibakNml7THvf6YDTnR3OHS0/m/989Iz2mZqzymdLz5HOFZybOZ93fvJCxoXxi4kXhzpXdD66tOTSna6wrt7LgZevXvG5cqnbvfv8VZerZ645XTt9nX297Yb9jdYeu56WX+x+aem172296XCz/ZbjrY6+BX3n+l37L972un3ljv+dGwOLBvruLr57/17cPel93v3RB6kPXj/Mejj9aP1j7OOiJwpPKp6qP6391fjXZqm99Oyg12DPs4hnj4a4Qy//lfmvT8MFz6nPK0a0RupHrUfPjPmM3Xqx9MXwy4yX0+OFvyn+tveV0auffnf7vWdiycTwa9HrmT9K3qi+OfrW9m3nZOjk03dp76anit6rvj/2gf2h+2P0x5Hp7E/4T5WfjT93fAn88ngmbWbm3/eE8/syOll+AAAACXBIWXMAAAsTAAALEwEAmpwYAAABh0lEQVQ4EY2Svy4EURTGZ+6dRbIRRKFR0NoHEI3EU3gExYbEJhIKBQ1WIzyGKLReQisKofQAbIKZ6/ft3DNmk5nESb4595zv/LvnTpokSQo8aJIiOqV7zrlt9A8YAV8UxV3GIUQnqlE6eAvv/Tr6OITwnqbpkiIp2FX3OcgtdH0KFe3kef6IfgYOyBdIOqTAGeeEYieqskOB0IQsy64UiMzoQ2xfcegheAWXcg5w6l49sAxWwUrUXbS6K24vJp/L5jwCNyL2OXzh0z4ahZjdmHxhAfj6TLhhE3xDzEdShbQPLU/8QUweykamwN++CNAVVGBWLKLFChIP/wZ/XZqVX6YauLaxtXFJzluvoT/GVlnwCN8t9hNw4wVFsk0p2UZe4AlPmWgzBvv/FNB1bCLl6a/U0iWhfgW7t+kypPyaT1pNzZ54ujxm2P8fzbEyznTFaQKNJ8KmMV8VxEFd9VLiJhqYY5rFvEBqtGo8znVRI7uC7STNeJJ73noRUj9IW3K90Cc5D9GR/wJQ+1+DjtkA4QAAAABJRU5ErkJggg==);
	width:12px;
	height:12px;
	margin-left:6px;
	margin-right:2px;
	background-size: 100% auto;
}

#urlhider, #reshider{
	width:300px;
	height:40px;
}


.modal-bar{
	background-color:#E1EBF7;
	padding:3px;
	margin:0 0 6px 0;
	border:1px solid #fff;
	border-bottom:1px solid #C6DCF5;
}

.modal-content{
	position:relative;
	margin:0;
	padding:0;
	height:calc(100% - 40px);
	width:100%;
	overflow:auto;
}


/*#trash section, #marked section{
	display:block !important;
}
*/

.modal{
	position:fixed;
	top:10px;
	left:10px;
	border:1px solid #047288;
	background-color:#fff;
	width:calc(100% - 20px);
	height:calc(100% - 20px);
	overflow:auto;
	z-index:888;
	box-shadow: 5px 5px 2px #ddd;
}

#buttons{
	position:relative;
	margin:10px 0 5px 10;
	padding:0;
}

.button,.button-spacer{
	display:inline-block;
	height:16px;
	padding:0 4px 1px 4px;
	font-size:13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
}


.button-spacer{
	border-left:1px dotted gray;
	width:1px;
}

.button{
	border:1px solid gray;
	min-width:60px;
	cursor:pointer;
	text-align:center;
	margin-right:10px;
}

.button:active{
	opacity:0.6;
}

/*#save_status{
	display:inline-block;
	padding:0;
	margin:0;
}
#save_status input{
	display:inline-block;
	height:16px;
	padding:0 4px 1px 4px;
	border: 1px dashed gray;
}
*/
.result-button{
	margin-top:10px;
}

/*@keyframes button-fadein {
	from {opacity:0.5;}
	to {opacity:1;}
}*/

.button-delayed{

   -webkit-transition: opacity 0.6s ease-in;
       -moz-transition: opacity 0.6s ease-in;
        -ms-transition: opacity 0.6s ease-in;
         -o-transition: opacity 0.6s ease-in;
            transition: opacity 0.6s ease-in;
    opacity:0.5;
}
.button-delayed:hover{
	opacity:1;

}
/*#trash .trash-button{
	opacity:1;
}
*/
#trash .trash-button:before{
	content:"un";
}


#trash-close, #marked-close, #outofscope-close, #vulnerability-close, #nonhtml-close, #notes-close{
	position:absolute;
	right:10px;
	top:0px;
	font-size:22px;
	cursor:pointer;
}
#trash-close:hover, #marked-close:hover, #outofscope-close:hover, #nonhtml-close:hover, #notes-close:hover{
	color:#F04158;
}


.resbuttons{
	margin-top:10px;
}

#infos{

}
.addregexp{
	margin:2px 0 0 0;
	font-size:12px;
	cursor:pointer;
	text-decoration:underline;
}

.url{
	cursor:pointer;
	display:inline-block;
	vertical-align: bottom;


	white-space:nowrap;

	padding:0;
	margin:0;

	/*border-right-width: 13px;
	border-right-style: solid;
	border-image-slice: 1;
	border-image:linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);;*/
}

#error_container{
	font-size:12px;
	color:red;
}

.url-error{
	color:red;
}

.url-outofscope{
	color:gray;
}


.icon-hidden{
	opacity:0.05 !important;
}

.result{
	font-size:14px;
}


#outofscope p{
	margin: 2px 0 6px 4px;
}
#outofscope p .parent-url{
	padding-left:6px;
}

#nonhtml p{
	margin: 2px 0 6px 4px;
}
#nonhtml p .parent-url{
	padding-left:6px;
}

.result-counter{
	display: inline-block;
	font-weight:normal;
	background-color:#fff;
	margin:0;
	font-size:9px;
	margin:0px 0 -2px -1px;
	border:1px solid #047288;
	border-radius:6px;
	padding:0px 2px 0px 2px;
	vertical-align: bottom;
}

.results{
	margin-bottom:8px;
}

!.accordion-open + p{
	color:red;
}

#vulnerability pre{
	padding:5px;
}

.vuln-name{
	cursor:pointer;
}


span.trigger{
	display: inline-block;
	margin:0 4px 0 0;
	padding: 1;

	min-width:12px;
	height:12px;
	cursor:pointer;
	text-align:center;
	font-size:13px;
	line-height:14px;
	color:#02582F;
}

span.trigger.empty{
	opacity:.1;
	cursor:default;
}



#notes textarea{
	display:block;
	margin:0 auto;
	width:95%;
	height:100%;
	font-size:14px;
	padding:10px;
}